flows.json
[
    {
        "id": "3fb4fe6b1fe92cfc",
        "type": "tab",
        "label": "Aula 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d41ad0c34844665",
        "type": "tab",
        "label": "Aula 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ab136aac2afe229",
        "type": "inject",
        "z": "3fb4fe6b1fe92cfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "3e23a8d7714f1496"
            ]
        ]
    },
    {
        "id": "3e23a8d7714f1496",
        "type": "debug",
        "z": "3fb4fe6b1fe92cfc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "5bb3e6052af1d946",
        "type": "inject",
        "z": "3fb4fe6b1fe92cfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Eu sou o Toniolo",
        "payloadType": "str",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "d9ee7d425578857d"
            ]
        ]
    },
    {
        "id": "d9ee7d425578857d",
        "type": "debug",
        "z": "3fb4fe6b1fe92cfc",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "51cd4cc4101bbae0",
        "type": "inject",
        "z": "4d41ad0c34844665",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "nomedamusica",
                "v": "Meteoro da paixão",
                "vt": "str"
            },
            {
                "p": "cordocarro",
                "v": "verde",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "e0fb35614bf77dd3"
            ]
        ]
    },
    {
        "id": "e0fb35614bf77dd3",
        "type": "debug",
        "z": "4d41ad0c34844665",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    }
]